*.swp
*.pyc
*.pkl
*.py~
*.pddl
.pytest_cache
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv*

*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT
data/

emb_metadata.tsv
test_cmds.txt
testing_logs